section.header-portfolio
	.header-container
		.sandwich-menu
				span.sandwich-menu-top
				span.sandwich-menu-middle
				span.sandwich-menu-bottom
		.main-title
			h1 <nobr>Al Rayhan</nobr>
			.main-title-description
				span <nobr>#UI/UX Expert</nobr>
				span <nobr>#Graphic Designer</nobr>
			a(href="#").btn-header Hire Me!