section.catalog
	.catalog-container
		.catalog-title Portfolio
		ul.catalog-skills
			li
				a(href="") Branding
			li
				a(href="") Web Design
			li
				a(href="") Animation
			li
				a(href="") UI/UX
			.skills-line
		.skills-box
			.skill-card
				.skill-photo1
				.skill-text-box1
					.skill-title Marketing Partner
					.skill-desc Branding UI/UX Article
					.view
						a(href="#") View Project
							+icon('right-arrow')
			.skill-card
				.skill-photo2
				.skill-text-box2
					.skill-title Website Design
					.skill-desc Website Design
					.view
						a(href="#") View Project
							+icon('right-arrow')
			.skill-card
				.skill-photo3
				.skill-text-box3
					.skill-title Music Player Design
					.skill-desc Branding UI/UX Article
					.view
						a(href="#") View Project
							+icon('right-arrow')
			.skill-card
				.skill-photo4
				.skill-text-box4
					.skill-title Branding UI/UX Article
					.skill-desc Branding UI/UX Article
					.view
						a(href="#") View Project
							+icon('right-arrow')
			.skill-card
				.skill-photo5
				.skill-text-box5
					.skill-title Branding UI/UX Article
					.skill-desc Branding UI/UX Article
					.view
						a(href="#") View Project
							+icon('right-arrow')
			.skill-card
				.skill-photo6
				.skill-text-box6
					.skill-title Branding UI/UX Article
					.skill-desc Branding UI/UX Article
					.view
						a(href="#") View Project
							+icon('right-arrow')