section.content
	.content-container-top
		.about-me-container
			.about-me#about_me
				.about-me-title
					h1 About me
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea praesentium repudiandae, accusantium nostrum doloribus voluptas, accusamus consectetur.
				ul.about-me-description
					li
						span Name : 
						span Al Rayhan
					li
						span Age : 
						span 23 Years
					li
						span Email : 
						span mail@deviserweb.com
					li
						span Web : 
						span deviserweb.com
					li
						span Web : 
						span deviserweb.com
			.photo
	.work-exp-container#work-exp
		.work-exp-me-title.caption
			h1 <nobr>Work Experience</nobr>
		.work-exp-block
			.work-exp-left
				.creative-director.box
					span.position Creative Director 
					span.email @deviserweb
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eligendi!
					.angle-left
				.managing-director.box
					span.position Managing Director 
					span.email @Academy
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero facilis.
					.angle-left
			.middle-line
				.line
					.point.point-1
					.point.point-2
					.point.point-3
					.point.point-4
			.work-exp-right
				.designer.box
					span.position UI/UX Designer 
					span.email @Academy
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium totam?
					.angle-right
				.ceo.box
					span.position Ceo &amp; Founder 
					span.email @Starlab
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, unde.
					.angle-right
	.education-container#education
		.education-me-title.caption
			h1 Education
		.education-block
			.education-left
				.art-director.box
					span.position Bsc in Art Direction 
					span.email @Sussex University
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eligendi!
					.angle-left
				.bachelor-director.box
					span.position Bachelor Director 
					span.email @Lusofona University
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero facilis.
					.angle-left
			.middle-line
				.line
					.point.point-1
					.point.point-2
					.point.point-3
					.point.point-4
			.education-right
				.graduation.box
					span.position Graduation 
					span.email @Oxford University
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium totam?
					.angle-right
				.high-school.box
					span.position High School 
					span.email @IT Academy
					span.date jan 2013 - dec 2014
					span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, unde.
					.angle-right
	.skills-container#skills
		.skills-me-title.caption
			h1 <nobr>Му skills</nobr>
		.skills-block
			ul.skills-block-left
				ul.skillbar(data-percent='90%')
					li.skillbar-title User Experience
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title User Interface
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title Web Design
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
			ul.skills-block-middle
				ul.skillbar(data-percent='90%')
					li.skillbar-title User Experience
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title User Interface
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title User Design
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
			ul.skills-block-right
				ul.skillbar(data-percent='90%')
					li.skillbar-title Communication
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title Team Work
					input(type="range" min="0" max="100" value="90").skillbar-range
					li.skill-bar-percent 90%
				ul.skillbar(data-percent='90%')
					li.skillbar-title Dedication
					input(type="range" min="0" max="100" value="90")#r1.skillbar-range
					li.skill-bar-percent#percent 90%
