.wrapper-menu
	.menu-container
		.author
			img(src="../static/img/content/author.jpg", width="275", height="222", alt="author")
			.author-title
				span Al Rayhan
				span UI/UX Expert
		ul.menu
			li
				a(href="/index.html") Home
			li
				a(href="#about_me") About Me
			li
				a(href="#work-exp") Work Expirience
			li
				a(href="#education") Education
			li
				a(href="#skills") Skills
			li
				a(href="/portfolio.html") Portfolio
			li
				a(href="#contacts") Contacts