section.catalog
	width 100%
	max-width 1300px
	margin 0 auto
	
.catalog-container
	margin 80px 94px 0 94px

.catalog-title
	position relative
	margin-bottom 65px
	color contentTitleColor
	font-size rem(32)
	font-family boldFont
	
	&:after
		position absolute
		top 48px
		content ''
		display block
		width 76px
		border 2px solid battonHederColor
		

ul.catalog-skills
	position relative
	display flex
	justify-content space-between
	flex-wrap wrap
	margin-bottom 68px
	
	li
		a
			display block
			padding 0 16px 13px
			color contentTitleColor
			font-size rem(18)
			
			&:hover
				border-bottom 2px solid skillsHoverColor
				padding 0 16px 11px

.skills-line
	position absolute
	top 28px
	width 100%
	height 2px
	background-color skillsLineColor
	z-index -1

.skills-box
	display flex
	justify-content space-between
	flex-wrap wrap
	
.skill-card
	margin-bottom 22px

.skill-photo1
	size(377px,235px)
	background url('../img/content/portfolio-1.jpg') 0 0 no-repeat

.skill-text-box1
	padding 17px 0 19px 17px
	background-color textBoxColor1

.skill-photo2
	size(377px,235px)
	background url('../img/content/portfolio-2.jpg') 0 0 no-repeat

.skill-text-box2
	padding 17px 0 19px 17px
	background-color textBoxColor2

.skill-photo3
	size(377px,235px)
	background url('../img/content/portfolio-3.jpg') 0 0 no-repeat

.skill-text-box3
	padding 17px 0 19px 17px
	background-color textBoxColor3

.skill-photo4
	size(377px,235px)
	background #f00 url('../img/content/portfolio-4.jpg') 0 0 no-repeat

.skill-text-box4
	padding 17px 0 19px 17px
	background-color textBoxColor4

.skill-photo5
	size(377px,235px)
	background url('../img/content/portfolio-5.jpg') 0 0 no-repeat

.skill-text-box5
	padding 17px 0 19px 17px
	background-color textBoxColor5

.skill-photo6
	size(377px,235px)
	background url('../img/content/portfolio-6.jpg') 0 0 no-repeat
	background-size cover

.skill-text-box6
	padding 17px 0 19px 17px
	background-color textBoxColor6

.skill-title
	margin-bottom 17px
	color #fff
	font-size rem(22)

.skill-desc
	margin-bottom 31px
	color #fff
	opacity .8
	font-size rem(16)
	
.view
	a
		display inline-block
		padding-bottom 7px
		color #fff
		opacity .8
		font-size rem(14)
		border-bottom 1px solid #fff
		
.icon-right-arrow
	size(5px,8px)
	margin-left 6px
	fill #fff
	opacity .8