.wrapper-menu
	display none
	background-color hederColor

.menu-container
	position relative
	width 100%
	max-width 275px
	display flex
	flex-direction column
	background-color hederColor
	font-family mainFont
	
.author-title
	position absolute
	top 150px
	left 32px
	color #fff
	
	span:first-child
		display block
		margin-bottom 12px
		font-size rem(32)
	span:last-child
		display block
		font-size rem(16)

ul.menu
	li
		border-bottom 1px solid menuLineColor
		a
			display block
			padding 22px 0 22px 32px
			color #fff
			font-size rem(22)
			
			&:hover
				background-color battonHederColor
