@font-face {
			font-family: "Raleway-Medium";
			src: url("../fonts/Raleway-Medium/Raleway-Medium.eot");
			src: url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"),
			url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"),
			url("../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix") format("embedded-opentype");
			font-weight: normal;
			font-style: normal;
}

@font-face {
			font-family: "Raleway-MediumItalic";
			src: url("../fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot");
			src: url("../fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff") format("woff"),
			url("../fonts/Raleway-MediumItalic/Raleway-MediumItalic.ttf") format("truetype"),
			url("../fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype");
			font-weight: normal;
			font-style: normal;
}

@font-face {
			font-family: "Raleway-Regular";
			src: url("../fonts/Raleway-Regular/Raleway-Regular.eot");
			src: url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"),
			url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"),
			url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype");
			font-weight: normal;
			font-style: normal;
}

@font-face {
			font-family: "Raleway-SemiBold";
			src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot");
			src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"),
			url("../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype"),
			url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype");
			font-weight: normal;
			font-style: normal;
}