@media screen and (max-width: 1178px)
	.content
		margin 0 10px

@media screen and (max-width: 1028px)
	.middle-line,
	.angle-left,
	.angle-right
		display none
		

@media screen and (max-width: 1010px)
	.main-title
		margin-right 140px

	.box
		width 355px
		
	.angle-left
		position absolute
		top 100px
		left 355px
		background url('../img/content/angle-left.png') 0 0 no-repeat
		size(37px,31px)
		
	.footer-container
		padding 20px 0px 0px 10px
		
	.skills-container
		padding 10px 30px 30px 30px
		
@media screen and (max-width: 700px)
	.catalog-container
		margin 10px 10px 0 10px

@media screen and (max-width: 793px)
	.content-container-top,
	.work-exp-block,
	.education-block
		margin-bottom 20px
		
	.box
		margin 10px
		
	.work-exp-left,
	.education-left
		margin 0
		
	.content h1
		margin 18px 0 37px 0

@media screen and (max-width: 500px)
	.header-container
		margin 20px
		
	.skills-line
		display none
		
	ul.catalog-skills>li
		margin-bottom 10px

@media screen and (max-width: 473px)
	.main-title-description
		span:first-child
			display inline-block
			border-right none
			padding-bottom 10px

	.box
		width 100%
		padding 21px 10px 25px 22px
		

@media screen and (max-width: 393px)
	.call-desc
		margin-bottom 17px
		
	ul.catalog-skills
		margin-bottom 10px
