// ЦВЕТА
sandwichColor = #fb6470
hederColor = #353541
battonHederColor = #fb6470
aboutMeColor = #f9f9f9
contentTitleColor = #3e3e3e
contentDescColor = #6e6e6e
descBorderColor = #e5e5e5
emailColor = #d7d7d9
skillsColor = #1d1d24
skillsTitleColor = #f0f0f0
locationDescColor = #656565
vertLineFooter = #a3a3a3
copirightColor = #717171
menuLineColor = #272734
skillsLineColor = #cccccc
skillsHoverColor = #f27982
textBoxColor1 = #01b9c3
textBoxColor2 = #1e2e3e
textBoxColor3 = #3f3d3e
textBoxColor4 = #0093b5
textBoxColor5 = #353541
textBoxColor6 = #6176ab


// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "Raleway-Medium"
italicFont = "Raleway-MediumItalic"
regularFont = "Raleway-Regular"
boldFont = "Raleway-SemiBold"